.note_container {
    height: 97%;
    margin-top: 3.5rem;
    margin-left: 1rem;
    overflow-y: auto;
    /* border: 2px solid green; */
  }
  
  .note_container h2 {
    margin-bottom: 20px;
  }
  
  .note_container_notes {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

.note_container::-webkit-scrollbar {
  /* Scrollbar */
  width: 8px;
}

.note_container::-webkit-scrollbar-thumb {
  /* Scrollbar thumb (drag handle) */
  background-color: #888;
  border-radius: 4px; 
}

.note_container::-webkit-scrollbar-thumb:hover {
  /* Scrollbar thumb when hovered */
  background-color: #555; 
}

.note_container::-webkit-scrollbar-track {
  /* Scrollbar track (background) */
  background-color: #f1f1f1; 
}

.note_container.no-notes::-webkit-scrollbar {
  /* Styles for the scrollbar when there are no notes */
  display: none; /* Hide the scrollbar when there are no notes */
}